
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    line-height: 1.5;
    font-family:  'Poppins', sans-serif;;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background: black;
    height: 60px;
    width: 100%;   
}

nav ul{
    padding-left: 300px;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    text-transform: uppercase ;
    padding: 7px 13px;
    border-radius: 3px ;
}
a .active, a:hover{
    background: gray;
    transition: 0.5s;

}
.header{
    display: grid;
    grid-template-columns: 0.2fr 2fr 0.4fr;
    background: black;
}
.logo img{
    height: 100px;
    padding-left: 10px;
}
.department h3{
    color: lightgray;
    font-size: 30px;
}
.department{
    padding-top: 20px;
}
.header .search{
    background-color:black;
    
}
.header .search-box input{
   
    top: 50%;
    transform: translate(-50% -50%);
    background: whitesmoke;
    height: 25px;
    border-radius: 20px;
    padding: 0;
    margin: 40px 0px 0px;
    padding-bottom: 0px;

}
.header .search-txt{
    border: none;
    background: none;
    outline: none;
    color: black;
    padding:0;
    float: inline-start;
    font-size: 16px;
    transition: 0.5s;
    line-height: 40px;
    
   
}
.content_title h1{
    background-color: gray;
    padding: 10px;
    margin-top: 0%;
    text-align: center;
    padding: 5px;
    margin-bottom: 0px;
    text-shadow: 1px 1px white;
}
.about-col{
   
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    margin-top: 70px;
    margin-bottom: 0px;
}
.list a{
    display: block;
    padding: 20px 25px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    background-color: gray;
}
.dropdown li{
    display: block;
}
.dropdown{
    padding-left: 0%;
    background: gray;
    position: absolute;
    z-index: 999;
    display: none;

}
.list a:hover{
    background:black;
    color: white;
    transition: 0.4s;
}
.list:hover ul.dropdown{
    display: block;
}
.department-image img{
    border-radius: 20px;
    padding: 10px;
}
.history-title{
    color: grey;
    font-size: 28px;
    text-align: center;
    font-weight: 500;
}
.about-col p{
    margin-bottom: 100px;
    padding: 30px;
    background-color: whitesmoke;

}

 





.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display:flex;
    flex-wrap: wrap;

}
.ul{
    list-style: none;
}
.footer{
    background-color: black;
    padding: 70px 0;
}
.footer-col{
    width:25%;
    padding: 0 15px;

}
.footer-col h4{
    font-size: 18px;
    color:whitesmoke;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;

}
.footer-col h4::before{
    content: '';
    position:absoluste;
    left: 0;
    bottom: -10px;
    background-color: red;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform:capitalize;
    color: whitesmoke;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px ;

}
@media(max-width: 767px){
    .footer-col{
        width:50%;
        margin-bottom:30px;
    }
}
@media(max-width: 767px){
    .footer-col{
        width:100%;
    }
}
