
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    line-height: 1.5;
    font-family:  'Poppins', sans-serif;;
    background-color: whitesmoke;
}
            *{
            
                box-sizing: border-box;
            }
           body{
          
            margin: 0%;
           }
           .logo{
            width: 200;
            height: 200;
            background-color: black;
            
        
           }
           nav{
                 margin-top: 0px;
                 background:black ; 
                 height: 100%;
                 width: 100%;
                 top: 0%;
                 font-family: Arial, Helvetica, sans-serif;
                 margin-bottom: 0px 0px 0px 0px;
                 padding: 0%;
             }
             .navigation-bar{
               position: relative;
               margin:0%;
                align-items: end;
             }
             nav a:hover{
                color: black;
                background-color: whitesmoke;
             } 
             nav ul{
                 
                 margin-right: 20px;
              
                  
             }
             nav ul li{
                 display: inline-block;
                 line-height: 35px ;
                 margin: 0 5px;
                 align-items: center; 
             }
             nav ul li a{
                 color:white;
                 font-size:17px;
                 text-transform:uppercase;
                 padding: 7px 13px;
                 border-radius: 3px;
                 
             }
            .title{
                background-color: black;
            }
            .school{
                color: whitesmoke;
                display: block;
                font-family: Arial, Helvetica, sans-serif;
                font-stretch: semi-expanded;
               
            }
            .department{
                display: block;
                font-size: 35px;
                color: whitesmoke;
                margin-bottom: 20px;
                margin-top: 0px;
            }
            .dept{
               margin-top: 20px;
               background-color: whitesmoke;
            }
            .search{
                background-color:black
                
            }
            .search input{
               
               top: 50%;
               transform: translate(-50% -50%);
               background: whitesmoke;
               height: 25px;
               border-radius: 20px;
               padding: 0;
               margin: 40px 0px 0px;
               padding-bottom: 0px;

           }
            .search-txt{
                border: none;
                background: none;
                outline: none;
                padding:0;
                float: inline-start;
                font-size: 16px;
                transition: 0.5s;
                line-height: 40px;
               
            }
            .mainbody{
                background-color: whitesmoke;
            }
           
            .home_title{
                color: white;
                justify-content: center;
                align-items: center;
                font-family: Arial;
                background: gray;
                padding: 5px;
            }
            .home_title h1{
                position: relative;
                color: white;
                -webkit-text-stroke: 0.2vw whitesmoke ;
                font-size: 2.2svw;
            }
            .home_title h1::before{
                content: attr(data-text);
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                color: black;
                -webkit-text-stroke: 0vw lightblue;
                border-right: 2px solid black;
                overflow: hidden;
                animation: animate 8s linear infinite;
                animation-duration: 8s;
                animation-delay: 1s;
            }
            @keyframes animate{
                0%,10%,100%{
                    width: 0;
                }
                70%,90%{
                    width: 100%;
                }
            }
            .message{
                padding-left: 10px;
            }
            .welcome-message2{
                padding-top: 45px;
            }
            .dept{
                display: grid;
                grid-template-columns: 1fr 1fr;
            
              
            }
            .dept2{
                background-color: whitesmoke;
            }
            
            .newshub{
                display: grid;
                grid-template-columns: 1fr 1fr;
                background-color: whitesmoke;
                margin-top: 45px;
            }
            .news{
                text-align: center;
                font-size: 24px;
                color: darkgrey;
            }
            .allnews{
               text-align: right;
               display: inline-block;
               border:black ;
               justify-content: center;
            }
            .allnews a{
                 color:grey;
                 font-size:17px;
                 padding: 7px 13px;
                 border-radius: 3px;
                 border-color: black;
                 margin-right: 10px;
                 background-color: whitesmoke;
                 text-decoration: none;
                 text-emphasis: none;
             
             }
             a:hover{
                 background: black;
                 transition: .5s;
                 color: white;
             }
             .aboutnews{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                column-gap: 20px;
                background-color: whitesmoke;
                
             }
             .aboutnews p{
                text-decoration: none;
             }
             .aboutnews img{
                padding: 15px;
                border-radius: 20px;
             }






            
            
            
            
            
            .container{
                max-width: 1170px;

                margin: auto;
            }
            .row{
                display:flex;
                flex-wrap: wrap;

            }
            .ul{
                list-style: none;
            }
            .footer{
                background-color: black;
                padding: 70px 0;
            }
            .footer-col{
                width:25%;
                padding: 0 15px;

            }
            .footer-col h4{
                font-size: 18px;
                color:whitesmoke;
                text-transform: capitalize;
                margin-bottom: 35px;
                font-weight: 500;
                position: relative;
           
            }
            .footer-col h4::before{
                content: '';
                position:absoluste;
                left: 0;
                bottom: -10px;
                background-color: red;
                height: 2px;
                box-sizing: border-box;
                width: 50px;
            }
            .footer-col ul li:not(:last-child){
                margin-bottom: 10px;
            }
            .footer-col ul li a{
                font-size: 16px;
                text-transform:capitalize;
                color: whitesmoke;
                text-decoration: none;
                font-weight: 300;
                color: #bbbbbb;
                display: block;
                transition: all 0.3s ease;
            }
            .footer-col ul li a:hover{
                color: #ffffff;
                padding-left: 8px ;

            }
            @media(max-width: 767px){
                .footer-col{
                    width:50%;
                    margin-bottom:30px;
                }
            }
            @media(max-width: 767px){
                .footer-col{
                    width:100%;
                }
            }
            


